<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Infinity Portal - CVE Lookup</h1>
        See <i><a href="https://support.checkpoint.com/results/sk/sk184153">sk184153</a></i> for more details.
        <br>
        <div class="search-box">
            <input type="text" id="cve-input" placeholder="e.g., CVE-2023-1234">
            <button id="search-button">Search</button>
        </div>

        <div id="results-container">
            </div>

        <div id="publications-container">
            <p class="loading">Loading publications...</p>
            </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
